html {
  background: url("a0z1-tile.svg");
}
body {
  max-width: 800px;
  margin: auto;
  font-size: 16pt;
  color: #eee;
  background-color: #444;
  background-color: rgba(68,68,68,.8);
  padding: 80px;
}
h1 {
  margin-top: 0;
}
figure {
  font-size: 2em;
}
.ab0, .ab1, figure {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}
.ab0 {
  color: #6af;
}
.ab1 {
  color: #f80;
}
a:link {
  color: #48f;
}
a:visited {
  color: #88f;
}
.hash {
  font-size: 1.5em;
}
.quartet {
  display: inline-block;
  margin-right: 3px;
}
.bits {
  display: block;
  margin: 0;
  font-size: .25em;
}
