html {
  background: url("a0z1-tile.svg");
}
body {
  max-width: 800px;
  margin: auto;
  font-size: 16pt;
  color: #eee;
  border-radius: 8px;
  text-shadow: #222 0 1px 2px;
}
figure {
  font-size: 2em;
}
.ab0, .ab1 {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}
.ab0 {
  color: #28f;
}
.ab1 {
  color: #f80;
}
a:link {
  color: #48f;
}
a:visited {
  color: #88f;
}